/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject

/.idea

/src-magento
/transfer/domain.sql.gz
/transfer/pub.media.tar.gz
/transfer/vendor.tar.gz
/transfer/db/domain.sql

/.docker/mysql/log/error.log
/.docker/mysql/log/slow.log
/.docker/built.flag
/.docker/vendor.flag
/.docker/media.flag
/.docker/nginx/logs/error.log
/.docker/nginx/logs/access.log
/.env
/.docker/elasticsearch/logs/*

